.text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 20%;
}
.card img {
  height: 20px;
  /* width: 100px; */
}

.card button {
  outline: none;
  border: none;
  background-color: transparent;
}
.card p {
  margin: 0 !important;
}
.password {
  width: 60%;
}
